h1{
    text-align: center;
}

h2{
    font-size: 100px;
    color:black;
    text-align: center;
}

body{
    background-color: white;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#symbol{
    width:20px;
    height: 20px;
}

.narbar-default{
    background-color:black;
    position: relative;
}